/*body*/
body {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header section styles BEGINS*/
#logo {
  float:left;
}

.headTopic {
  text-align: center;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mainHeading {
  font-weight: bolder;
  color: #B799FF;
}

#slogan {
  font-weight: bold;
  color: #ACBCFF;
}

.AlreadyAcc {
  float: right;
  
}

#logout, #back {
  background-color: #B799FF;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}
  
  /* colors to use:
     #B799FF
     #ACBCFF
     #AEE2FF
     #E6FFFD
    } */
  
.Line {
   background-color: #ACBCFF;
   display: flex;
   justify-content: flex-start;
   padding: 10px;
   margin-bottom: 10px;
  }
  
  h1, h2 {
    color: #B799FF;
  }

  /*Form Styles*/
  
  fieldset {
    border-color: #B799FF;
  }
  
  #Upd {
    background-color: #B799FF;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  #Del {
    background-color: #ACBCFF;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    float: right;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF;
  }

  input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF
  }
  
  #DOB {
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF
  }
  
  #address {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF
  }
  
  #ms {
    width: 20%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF
  }
  
  #pn {
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #AEE2FF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ACBCFF
  }
  
  
  .FormButtons {
    float: right;
  }
  
  
/*Footer Styles BEGINS*/
footer {
  background-color: #ACBCFF;
  padding: 20px;
}

.footTable {
  text-align: left;
}

#Cpyright {
  float: right;
}
/*Footer Styles ENDS*/
  
  